http_interactions:
- request:
    method: get
    uri: https://api.azmet.arizona.edu/v1/observations/daily/az01/2022-09-01T00:00/P6D
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"a":"TUC","data":[{"chill_hours_0C":"0","chill_hours_20C":"23","chill_hours_32F":"0","chill_hours_45F":"0","chill_hours_68F":"23","chill_hours_7C":"0","date_doy":"244","date_year":"2022","datetime":"2022-09-01","dwpt_mean":"14.5","dwpt_meanF":"58.2","eto_azmet":"8.140153932181127","eto_azmet_in":"0.320477860309971","eto_pen_mon":"7.841413568053671","eto_pen_mon_in":"0.30871645217427307","heat_units_10C":"18.805335","heat_units_13C":"16.027535","heat_units_3413C":"17.890925","heat_units_45F":"38.849607","heat_units_50F":"33.849603","heat_units_55F":"28.849563","heat_units_7C":"21.583115","heat_units_9455F":"32.203665","heatstress_cotton_meanC":"27.5854886","heatstress_cotton_meanF":"81.6538794","meta_bat_volt_max":"13.82","meta_bat_volt_mean":"13.03","meta_bat_volt_min":"12.56","meta_needs_review":0,"meta_station_id":"az01","meta_station_name":"Tucson","meta_version":0,"precip_total_in":"0.0","precip_total_mm":"0","relative_humidity_max":"53.29","relative_humidity_mean":"37.35","relative_humidity_min":"23.18","sol_rad_total":"25.83639","sol_rad_total_ly":"617.50455108786","temp_air_maxC":"36.16","temp_air_maxF":"97.088","temp_air_meanC":"31.18","temp_air_meanF":"88.124","temp_air_minC":"25.75","temp_air_minF":"78.35","temp_soil_10cm_maxC":"29.12","temp_soil_10cm_maxF":"84.416","temp_soil_10cm_meanC":"27.09","temp_soil_10cm_meanF":"80.762","temp_soil_10cm_minC":"25.26","temp_soil_10cm_minF":"77.468","temp_soil_50cm_maxC":"27.31","temp_soil_50cm_maxF":"81.158","temp_soil_50cm_meanC":"27.1","temp_soil_50cm_meanF":"80.78","temp_soil_50cm_minC":"26.92","temp_soil_50cm_minF":"80.456","vp_actual_max":"1.991","vp_actual_mean":"1.657","vp_actual_min":"1.369","vp_deficit_mean":"2.944","wind_spd_max_mph":"17.7277495","wind_spd_max_mps":"7.925","wind_spd_mean_mph":"6.80477148","wind_spd_mean_mps":"3.042","wind_vector_dir":"105.9","wind_vector_dir_stand_dev":"23.5","wind_vector_magnitude":"2.785","wind_vector_magnitude_mph":"6.229877900000001"},{"chill_hours_0C":"0","chill_hours_20C":"23","chill_hours_32F":"0","chill_hours_45F":"0","chill_hours_68F":"23","chill_hours_7C":"0","date_doy":"245","date_year":"2022","datetime":"2022-09-02","dwpt_mean":"15.3","dwpt_meanF":"59.6","eto_azmet":"6.9965037660181","eto_azmet_in":"0.2754523532681326","eto_pen_mon":"5.935359749638121","eto_pen_mon_in":"0.23367511334325286","heat_units_10C":"17.69224","heat_units_13C":"14.914440000000003","heat_units_3413C":"16.772520000000004","h[...]
