http_interactions:
- request:
    method: get
    uri: https://api.azmet.arizona.edu/v1/observations/daily/*/*/*
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"data":[{"chill_hours_0C":"0","chill_hours_20C":"18","chill_hours_32F":"0","chill_hours_45F":"0","chill_hours_68F":"18","chill_hours_7C":"0","date_doy":"275","date_year":"2022","datetime":"2022-10-02","dwpt_mean":"13.2","dwpt_meanF":"55.8","eto_azmet":"4.9","eto_azmet_in":"0.19","eto_pen_mon":"3.9","eto_pen_mon_in":"0.16","heat_units_10C":"14.6","heat_units_13C":"11.9","heat_units_3413C":"12.7","heat_units_45F":"31.3","heat_units_50F":"26.3","heat_units_55F":"21.3","heat_units_7C":"17.4","heat_units_9455F":"22.8","heatstress_cotton_meanC":"23.0","heatstress_cotton_meanF":"73.3","meta_bat_volt_max":"14.00","meta_bat_volt_mean":"13.02","meta_bat_volt_min":"12.54","meta_needs_review":0,"meta_station_id":"az01","meta_station_name":"Tucson","meta_version":1,"precip_total_in":"0.00","precip_total_mm":"0.0","relative_humidity_max":"90","relative_humidity_mean":"50","relative_humidity_min":"22","sol_rad_total":"20.24","sol_rad_total_ly":"483.75","temp_air_maxC":"34.0","temp_air_maxF":"93.2","temp_air_meanC":"25.9","temp_air_meanF":"78.6","temp_air_minC":"16.9","temp_air_minF":"62.4","temp_soil_10cm_maxC":"26.8","temp_soil_10cm_maxF":"80.2","temp_soil_10cm_meanC":"24.8","temp_soil_10cm_meanF":"76.6","temp_soil_10cm_minC":"22.9","temp_soil_10cm_minF":"73.2","temp_soil_50cm_maxC":"24.7","temp_soil_50cm_maxF":"76.5","temp_soil_50cm_meanC":"24.6","temp_soil_50cm_meanF":"76.3","temp_soil_50cm_minC":"24.5","temp_soil_50cm_minF":"76.1","vp_actual_max":"1.91","vp_actual_mean":"1.52","vp_actual_min":"1.09","vp_deficit_mean":"1.94","wind_spd_max_mph":"13.2","wind_spd_max_mps":"5.9","wind_spd_mean_mph":"1.8","wind_spd_mean_mps":"0.8","wind_vector_dir":"108","wind_vector_dir_stand_dev":"38","wind_vector_magnitude":"0.5","wind_vector_magnitude_mph":"1.1"},{"chill_hours_0C":"0","chill_hours_20C":"23","chill_hours_32F":"0","chill_hours_45F":"0","chill_hours_68F":"23","chill_hours_7C":"0","date_doy":"275","date_year":"2022","datetime":"2022-10-02","dwpt_mean":"19.4","dwpt_meanF":"66.9","eto_azmet":"4.9","eto_azmet_in":"0.19","eto_pen_mon":"4.8","eto_pen_mon_in":"0.19","heat_units_10C":"18.3","heat_units_13C":"15.5","heat_units_3413C":"17.3","heat_units_45F":"38.0","heat_units_50F":"33.0","heat_units_55F":"28.0","heat_units_7C":"21.1","heat_un[...]
