http_interactions:
- request:
    method: get
    uri: https://api.azmet.arizona.edu/v1/observations/daily/*/*/*
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"data":[{"chill_hours_0C":"0","chill_hours_20C":"6","chill_hours_32F":"0","chill_hours_45F":"8","chill_hours_68F":"6","chill_hours_7C":"8","date_doy":"335","date_year":"2022","datetime":"2022-12-01","dwpt_mean":"-1.2","dwpt_meanF":"29.9","eto_azmet":"2.3","eto_azmet_in":"0.09","eto_pen_mon":"2.1","eto_pen_mon_in":"0.08","heat_units_10C":"6.2","heat_units_13C":"4.6","heat_units_3413C":"4.6","heat_units_45F":"14.7","heat_units_50F":"11.2","heat_units_55F":"8.3","heat_units_7C":"8.2","heat_units_9455F":"8.3","heatstress_cotton_meanC":"10.2","heatstress_cotton_meanF":"50.3","meta_bat_volt_max":"14.40","meta_bat_volt_mean":"13.10","meta_bat_volt_min":"12.44","meta_needs_review":0,"meta_station_id":"az01","meta_station_name":"Tucson","meta_version":1,"precip_total_in":"0.00","precip_total_mm":"0.0","relative_humidity_max":"66","relative_humidity_mean":"40","relative_humidity_min":"15","sol_rad_total":"12.03","sol_rad_total_ly":"287.52","temp_air_maxC":"25.8","temp_air_maxF":"78.4","temp_air_meanC":"13.6","temp_air_meanF":"56.5","temp_air_minC":"4.0","temp_air_minF":"39.2","temp_soil_10cm_maxC":"14.8","temp_soil_10cm_maxF":"58.6","temp_soil_10cm_meanC":"12.5","temp_soil_10cm_meanF":"54.5","temp_soil_10cm_minC":"10.4","temp_soil_10cm_minF":"50.7","temp_soil_50cm_maxC":"13.9","temp_soil_50cm_maxF":"57.0","temp_soil_50cm_meanC":"13.8","temp_soil_50cm_meanF":"56.8","temp_soil_50cm_minC":"13.6","temp_soil_50cm_minF":"56.5","vp_actual_max":"0.74","vp_actual_mean":"0.56","vp_actual_min":"0.49","vp_deficit_mean":"1.15","wind_spd_max_mph":"11.0","wind_spd_max_mps":"4.9","wind_spd_mean_mph":"2.2","wind_spd_mean_mps":"1.0","wind_vector_dir":"109","wind_vector_dir_stand_dev":"40","wind_vector_magnitude":"0.6","wind_vector_magnitude_mph":"1.3"},{"chill_hours_0C":"0","chill_hours_20C":"0","chill_hours_32F":"0","chill_hours_45F":"7","chill_hours_68F":"0","chill_hours_7C":"7","date_doy":"335","date_year":"2022","datetime":"2022-12-01","dwpt_mean":"4.6","dwpt_meanF":"40.3","eto_azmet":"1.8","eto_azmet_in":"0.07","eto_pen_mon":"1.6","eto_pen_mon_in":"0.06","heat_units_10C":"3.8","heat_units_13C":"2.3","heat_units_3413C":"2.3","heat_units_45F":"10.1","heat_units_50F":"6.9","heat_units_55F":"4.1","heat_units_7C":"5.6","heat_units_9455F[...]
