http_interactions:
- request:
    method: get
    uri: https://api.azmet.arizona.edu/v1/observations/daily/az01/*/*
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"a":"TUC","data":[{"chill_hours_0C":"0","chill_hours_20C":"23","chill_hours_32F":"0","chill_hours_45F":"0","chill_hours_68F":"23","chill_hours_7C":"0","date_doy":"271","date_year":"2022","datetime":"2022-09-28","dwpt_mean":"13.9","dwpt_meanF":"57.0","eto_azmet":"3.6","eto_azmet_in":"0.14","eto_pen_mon":"4.5","eto_pen_mon_in":"0.18","heat_units_10C":"16.4","heat_units_13C":"13.6","heat_units_3413C":"14.8","heat_units_45F":"34.5","heat_units_50F":"29.5","heat_units_55F":"24.5","heat_units_7C":"19.2","heat_units_9455F":"26.6","heatstress_cotton_meanC":"23.5","heatstress_cotton_meanF":"74.3","meta_bat_volt_max":"14.07","meta_bat_volt_mean":"12.97","meta_bat_volt_min":"12.54","meta_needs_review":0,"meta_station_id":"az01","meta_station_name":"Tucson","meta_version":1,"precip_total_in":"0.25","precip_total_mm":"6.4","relative_humidity_max":"72","relative_humidity_mean":"48","relative_humidity_min":"24","sol_rad_total":"13.74","sol_rad_total_ly":"328.39","temp_air_maxC":"34.6","temp_air_maxF":"94.3","temp_air_meanC":"26.1","temp_air_meanF":"79.0","temp_air_minC":"20.5","temp_air_minF":"68.9","temp_soil_10cm_maxC":"26.2","temp_soil_10cm_maxF":"79.2","temp_soil_10cm_meanC":"24.8","temp_soil_10cm_meanF":"76.6","temp_soil_10cm_minC":"23.6","temp_soil_10cm_minF":"74.5","temp_soil_50cm_maxC":"25.4","temp_soil_50cm_maxF":"77.7","temp_soil_50cm_meanC":"25.3","temp_soil_50cm_meanF":"77.5","temp_soil_50cm_minC":"25.2","temp_soil_50cm_minF":"77.4","vp_actual_max":"2.88","vp_actual_mean":"1.59","vp_actual_min":"1.08","vp_deficit_mean":"1.86","wind_spd_max_mph":"22.1","wind_spd_max_mps":"9.9","wind_spd_mean_mph":"4.0","wind_spd_mean_mps":"1.8","wind_vector_dir":"95","wind_vector_dir_stand_dev":"48","wind_vector_magnitude":"1.1","wind_vector_magnitude_mph":"2.5"}],"errors":[],"i":"*","l":"az01","n":"Tucson","s":"*","t":"daily"}
  recorded_at: 2022-09-29 19:59:46 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
[...]
