http_interactions:
- request:
    method: get
    uri: https://api.azmet.arizona.edu/v1/observations/daily/az01/2022-09-22T00:00/P7D
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"a":"TUC","data":[{"chill_hours_0C":"0","chill_hours_20C":"23","chill_hours_32F":"0","chill_hours_45F":"0","chill_hours_68F":"23","chill_hours_7C":"0","date_doy":"265","date_year":"2022","datetime":"2022-09-22","dwpt_mean":"18.9","dwpt_meanF":"66.0","eto_azmet":"5.4","eto_azmet_in":"0.21","eto_pen_mon":"4.9","eto_pen_mon_in":"0.19","heat_units_10C":"16.5","heat_units_13C":"13.7","heat_units_3413C":"14.9","heat_units_45F":"34.6","heat_units_50F":"29.6","heat_units_55F":"24.6","heat_units_7C":"19.2","heat_units_9455F":"26.8","heatstress_cotton_meanC":"25.1","heatstress_cotton_meanF":"77.2","meta_bat_volt_max":"13.85","meta_bat_volt_mean":"13.01","meta_bat_volt_min":"12.52","meta_needs_review":0,"meta_station_id":"az01","meta_station_name":"Tucson","meta_version":1,"precip_total_in":"0.00","precip_total_mm":"0.0","relative_humidity_max":"99","relative_humidity_mean":"65","relative_humidity_min":"32","sol_rad_total":"22.10","sol_rad_total_ly":"528.20","temp_air_maxC":"34.8","temp_air_maxF":"94.6","temp_air_meanC":"27.1","temp_air_meanF":"80.8","temp_air_minC":"20.6","temp_air_minF":"69.1","temp_soil_10cm_maxC":"28.9","temp_soil_10cm_maxF":"84.0","temp_soil_10cm_meanC":"26.5","temp_soil_10cm_meanF":"79.7","temp_soil_10cm_minC":"24.3","temp_soil_10cm_minF":"75.7","temp_soil_50cm_maxC":"25.8","temp_soil_50cm_maxF":"78.4","temp_soil_50cm_meanC":"25.7","temp_soil_50cm_meanF":"78.3","temp_soil_50cm_minC":"25.5","temp_soil_50cm_minF":"77.9","vp_actual_max":"2.62","vp_actual_mean":"2.18","vp_actual_min":"1.59","vp_deficit_mean":"1.54","wind_spd_max_mph":"13.2","wind_spd_max_mps":"5.9","wind_spd_mean_mph":"2.9","wind_spd_mean_mps":"1.3","wind_vector_dir":"285","wind_vector_dir_stand_dev":"59","wind_vector_magnitude":"0.3","wind_vector_magnitude_mph":"0.7"},{"chill_hours_0C":"0","chill_hours_20C":"23","chill_hours_32F":"0","chill_hours_45F":"0","chill_hours_68F":"23","chill_hours_7C":"0","date_doy":"266","date_year":"2022","datetime":"2022-09-23","dwpt_mean":"16.9","dwpt_meanF":"62.5","eto_azmet":"5.5","eto_azmet_in":"0.22","eto_pen_mon":"4.9","eto_pen_mon_in":"0.19","heat_units_10C":"16.4","heat_units_13C":"13.7","heat_units_3413C":"15.0","heat_units_45F":"34.6","heat_units_50F":"29.6","heat_units_55F":"24.6","heat_units_7C":"19.2","heat_un[...]
