http_interactions:
- request:
    method: get
    uri: https://api.azmet.arizona.edu/v1/observations/hueto/az09/*/*
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"a":"BON","data":[{"datetime_last":"2022-09-28","eto_azmet_in":"0.23621999999999999","eto_azmet_in_sum":59.95871430187307,"eto_pen_mon_in":"0.21196917179942387","eto_pen_mon_in_sum":53.58740740446568,"heat_units_45F_sum":5482.2937462,"heat_units_50F_sum":4417.154891899999,"heat_units_55F_sum":3440.548629,"meta_station_id":"az09","meta_station_name":"Bonita","precip_total_in":"0.0","precip_total_in_sum":9.49037526}],"errors":[],"i":"*","l":"az09","n":"Bonita","s":"*","t":"hueto"}
  recorded_at: 2022-09-29 22:45:41 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
