http_interactions:
- request:
    method: get
    uri: https://api.azmet.arizona.edu/v1/observations/hueto/*/*/*
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"data":[{"datetime_last":"2022-10-02","eto_azmet_in":"0.16535399999999997","eto_azmet_in_sum":70.61028103262345,"eto_pen_mon_in":"0.15997227182876142","eto_pen_mon_in_sum":65.18679909428107,"heat_units_45F_sum":6957.334360400001,"heat_units_50F_sum":5750.4832483,"heat_units_55F_sum":4615.945385699999,"meta_station_id":"az07","meta_station_name":"Aguila","precip_total_in":"0.0","precip_total_in_sum":7.789748799999998},{"datetime_last":"2022-10-02","eto_azmet_in":"0.192913","eto_azmet_in_sum":60.64871430187307,"eto_pen_mon_in":"0.16213863401449255","eto_pen_mon_in_sum":54.227407404465666,"heat_units_45F_sum":5576.993746200001,"heat_units_50F_sum":4491.8548918999995,"heat_units_55F_sum":3495.948629,"meta_station_id":"az09","meta_station_name":"Bonita","precip_total_in":"0.0","precip_total_in_sum":9.49037526},{"datetime_last":"2022-10-02","eto_azmet_in":"0.15748","eto_azmet_in_sum":60.60576517[...]
