http_interactions:
- request:
    method: get
    uri: https://api.azmet.arizona.edu/v1/observations/hueto/az01/2022-09-20T00:00/P7D
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"a":"TUC","data":[{"datetime_last":"2022-09-26","eto_azmet_in":"0.26771599999999995","eto_azmet_in_sum":1.4757634662652808,"eto_pen_mon_in":"0.24131396497648197","eto_pen_mon_in_sum":1.3178933107521735,"heat_units_45F_sum":244.17560099999997,"heat_units_50F_sum":209.175593,"heat_units_55F_sum":174.175513,"meta_station_id":"az01","meta_station_name":"Tucson","precip_total_in":"0.0","precip_total_in_sum":0.3999992}],"errors":[],"i":"P7D","l":"az01","n":"Tucson","s":"2022-09-20T00:00","t":"hueto"}
  recorded_at: 2022-10-03 15:25:13 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
