http_interactions:
- request:
    method: get
    uri: https://api.azmet.arizona.edu/v1/observations/hueto/az01/*/*
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"a":"TUC","data":[{"datetime_last":"2022-10-06","eto_azmet_in":"0.16535399999999997","eto_azmet_in_sum":66.79901763463226,"eto_pen_mon_in":"0.14440700918373886","eto_pen_mon_in_sum":58.51600062042586,"heat_units_45F_sum":7218.888024500005,"heat_units_50F_sum":6001.163586499999,"heat_units_55F_sum":4854.557171000001,"meta_station_id":"az01","meta_station_name":"Tucson","precip_total_in":"0.34999930000000007","precip_total_in_sum":7.3403809199999985}],"errors":[],"i":"*","l":"az01","n":"Tucson","s":"*","t":"hueto"}
  recorded_at: 2022-10-07 19:20:10 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
