http_interactions:
- request:
    method: get
    uri: https://api.azmet.arizona.edu/v1/observations/hueto/*/*/*
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"data":[{"datetime_last":"2022-12-01","eto_azmet_in":"0.09842500000000001","eto_azmet_in_sum":79.02028103262349,"eto_pen_mon_in":"0.09826033480754737","eto_pen_mon_in_sum":72.57679909428104,"heat_units_45F_sum":7933.634360400004,"heat_units_50F_sum":6495.783248299997,"heat_units_55F_sum":5152.745385699998,"meta_station_id":"az07","meta_station_name":"Aguila","precip_total_in":"0.0","precip_total_in_sum":8.819748799999998},{"datetime_last":"2022-12-01","eto_azmet_in":"0.09842500000000001","eto_azmet_in_sum":68.12871430187305,"eto_pen_mon_in":"0.0909155107701928","eto_pen_mon_in_sum":60.5874074044657,"heat_units_45F_sum":6233.293746199999,"heat_units_50F_sum":4950.554891899999,"heat_units_55F_sum":3793.2486290000006,"meta_station_id":"az09","meta_station_name":"Bonita","precip_total_in":"0.0","precip_total_in_sum":11.19037526},{"datetime_last":"2022-12-01","eto_azmet_in":"0.10629900000000002","et[...]
