http_interactions:
- request:
    method: get
    uri: https://api.azmet.arizona.edu/v1/observations/hourly/*/*/*
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"data":[{"date_datetime":"2022-12-01 01:00:00","date_doy":"335","date_hour":"0100","date_year":"2022","dwpt":"-1.2","dwptF":"29.9","eto_azmet":"0.0","eto_azmet_in":"0.00","heatstress_cottonC":"0.5","heatstress_cottonF":"32.8","meta_bat_volt":"12.67","meta_needs_review":0,"meta_station_id":"az01","meta_station_name":"Tucson","meta_version":1,"precip_total":"0.0","precip_total_in":"0.00","relative_humidity":"63","sol_rad_total":"0.00","sol_rad_total_ly":"0.00","temp_airC":"5.3","temp_airF":"41.5","temp_soil_10cmC":"12.0","temp_soil_10cmF":"53.6","temp_soil_50cmC":"13.9","temp_soil_50cmF":"57.0","vp_actual":"0.56","vp_deficit":"0.33","wind_spd_max_mph":"2.2","wind_spd_max_mps":"1.0","wind_spd_mph":"0.0","wind_spd_mps":"0.0","wind_vector_dir":"140","wind_vector_dir_stand_dev":"3","wind_vector_magnitude":"0.0","wind_vector_magnitude_mph":"0.0"},{"date_datetime":"2022-12-01 02:00:00","date_doy":"335","date_hour":"0200","date_year":"2022","dwpt":"-1.4","dwptF":"29.4","eto_azmet":"0.0","eto_azmet_in":"0.00","heatstress_cottonC":"0.4","heatstress_cottonF":"32.8","meta_bat_volt":"12.65","meta_needs_review":0,"meta_station_id":"az01","meta_station_name":"Tucson","meta_version":1,"precip_total":"0.0","precip_total_in":"0.00","relative_humidity":"62","sol_rad_total":"0.00","sol_rad_total_ly":"0.00","temp_airC":"5.3","temp_airF":"41.5","[...]
