http_interactions:
- request:
    method: get
    uri: https://api.azmet.arizona.edu/v1/observations/hourly/*/2022-09-28T13:00/PT0S
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"data":[{"date_datetime":"2022-09-28 13:00:00","date_doy":"271","date_hour":"1300","date_year":"2022","dwpt":"14.6","dwptF":"58.2","eto_azmet":"0.3","eto_azmet_in":"0.01","heatstress_cottonC":"26.0","heatstress_cottonF":"78.8","meta_bat_volt":"13.66","meta_needs_review":0,"meta_station_id":"az01","meta_station_name":"Tucson","meta_version":1,"precip_total":"2.8","precip_total_in":"0.11","relative_humidity":"44","sol_rad_total":"1.23","sol_rad_total_ly":"29.40","temp_airC":"28.8","temp_airF":"83.8","temp_soil_10cmC":"25.6","temp_soil_10cmF":"78.1","temp_soil_50cmC":"25.2","temp_soil_50cmF":"77.4","vp_actual":"1.66","vp_deficit":"2.34","wind_spd_max_mph":"22.1","wind_spd_max_mps":"9.9","wind_spd_mph":"8.9","wind_spd_mps":"4.0","wind_vector_dir":"47","wind_vector_dir_stand_dev":"43","wind_vector_magnitude":"2.9","wind_vector_magnitude_mph":"6.5"},{"date_datetime":"2022-09-28 13:00:00","date_doy":"271","date_hour":"1300","date_year":"2022","dwpt":"18.4","dwptF":"65.2","eto_azmet":"0.8","eto_azmet_in":"0.03","heatstress_cottonC":"31.3","heatstress_cottonF":"88.4","meta_bat_volt":"13.21","meta_needs_review":0,"meta_station_id":"az02","meta_station_name":"Yuma Valley","meta_version":1,"precip_total":"0.0","precip_total_in":"0.00","relative_humidity":"35","sol_rad_total":"2.76","sol_rad_total_ly":"65.97","temp_airC":"36.5","temp_airF":[...]
