http_interactions:
- request:
    method: get
    uri: https://api.azmet.arizona.edu/v1/observations/hourly/az01/2022-09-29T09:00/PT4H
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"a":"TUC","data":[{"date_datetime":"2022-09-29 09:00:00","date_doy":"272","date_hour":"0900","date_year":"2022","dwpt":"17.3","dwptF":"63.2","eto_azmet":"0.0","eto_azmet_in":"0.00","heatstress_cottonC":"22.0","heatstress_cottonF":"71.5","meta_bat_volt":"12.70","meta_needs_review":0,"meta_station_id":"az01","meta_station_name":"Tucson","meta_version":1,"precip_total":"0.0","precip_total_in":"0.00","relative_humidity":"73","sol_rad_total":"0.57","sol_rad_total_ly":"13.62","temp_airC":"22.5","temp_airF":"72.5","temp_soil_10cmC":"23.5","temp_soil_10cmF":"74.3","temp_soil_50cmC":"25.1","temp_soil_50cmF":"77.2","vp_actual":"1.98","vp_deficit":"0.75","wind_spd_max_mph":"2.7","wind_spd_max_mps":"1.2","wind_spd_mph":"0.2","wind_spd_mps":"0.1","wind_vector_dir":"81","wind_vector_dir_stand_dev":"9","wind_vector_magnitude":"0.1","wind_vector_magnitude_mph":"0.2"},{"date_datetime":"2022-09-29 10:00:00","date_doy":"272","date_hour":"1000","date_year":"2022","dwpt":"16.9","dwptF":"62.5","eto_azmet":"0.1","eto_azmet_in":"0.00","heatstress_cottonC":"22.9","heatstress_cottonF":"73.1","meta_bat_volt":"12.89","meta_needs_review":0,"meta_station_id":"az01","meta_station_name":"Tucson","meta_version":1,"precip_total":"0.0","precip_total_in":"0.00","relative_humidity":"65","sol_rad_total":"0.66","sol_rad_total_ly":"15.77","temp_airC":"23.8","temp_airF":"74.8[...]
